<div class="bs-docs-section">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1 id="forms">Forms</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-7">
      <div class="card bs-component">
        <div class="card-body">
          <form>
            <fieldset>
              <legend>Legend</legend>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="email@example.com">
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Email address</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleInputPassword1" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleSelect1" class="col-sm-2 col-form-label">Select</label>
                <div class="col-sm-10">
                  <select class="form-control" id="exampleSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
              <div class="form-group f-brown row">
                <label for="exampleSelect2" class="col-sm-2 col-form-label">multiple select</label>
                <div class="col-sm-10">
                  <select multiple="" class="form-control" id="exampleSelect2">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                </div>
              </div>
              <div class="form-group row">
                <legend class="col-sm-2 col-form-label d-inline-block">Radios</legend>
                <div class="col-sm-10">
                  <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                        Option one is this and that—be sure to include why it's great
                      </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                        Option two can be something else and selecting it will deselect option one
                      </label>
                  </div>
                  <div class="form-check disabled">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled="">
                        Option three is disabled
                      </label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Slider</label>
                <div class="col-sm-10">
                  <input type="range" class="form-control-range" name="range" min="0" max="100" value="33">
                  <input type="range" class="form-control-range" name="range" min="0" max="100" value="66">
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleTextarea" class="col-sm-2 col-form-label">Example textarea</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="exampleTextarea" rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 160px;"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleInputFile" class="col-sm-2 col-form-label">File input</label>
                <div class="col-sm-10">
                  <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                  <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
                </div>
              </div>
              <fieldset class="form-group">
                <legend>Checkboxes</legend>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" checked="">
                    Option one is this and that—be sure to include why it's great
                    </label>
                </div>
                <div class="form-check disabled">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" disabled="">
                    Option two is disabled
                    </label>
                </div>
              </fieldset>
              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <button type="reset" class="btn btn-secondary">Cancel</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
          <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 offset-lg-1">
      <form class="bs-component">
        <div class="form-group">
          <fieldset disabled="">
            <label class="control-label" for="disabledInput">Disabled input</label>
            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled="">
          </fieldset>
        </div>

        <div class="form-group">
          <fieldset>
            <label class="control-label" for="readOnlyInput">Readonly input</label>
            <input class="form-control" id="readOnlyInput" type="text" placeholder="Readonly input here…" readonly="">
          </fieldset>
        </div>

        <div class="form-group has-success">
          <label class="form-control-label" for="inputSuccess1">Valid input</label>
          <input type="text" value="correct value" class="form-control is-valid" id="inputValid">
          <div class="valid-feedback">Success! You've done it.</div>
        </div>

        <div class="form-group has-danger">
          <label class="form-control-label" for="inputDanger1">Invalid input</label>
          <input type="text" value="wrong value" class="form-control is-invalid" id="inputInvalid">
          <div class="invalid-feedback">Sorry, that username's taken. Try another?</div>
        </div>

        <div class="form-group">
          <label class="col-form-label col-form-label-lg" for="inputLarge">Large input</label>
          <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg" id="inputLarge">
        </div>

        <div class="form-group">
          <label class="col-form-label" for="inputDefault">Default input</label>
          <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
        </div>

        <div class="form-group">
          <label class="col-form-label col-form-label-sm" for="inputSmall">Small input</label>
          <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="inputSmall">
        </div>

        <div class="form-group">
          <label class="control-label">Input addons</label>
          <div class="form-group">
            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
              <div class="input-group-addon">.00</div>
            </div>
          </div>
        </div>
      </form>

      <div class="bs-component">
        <fieldset>
          <legend>Custom forms</legend>
          <div class="form-group">
            <label class="custom-control custom-radio">
              <input id="radio1" name="radio" type="radio" class="custom-control-input" checked="">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Toggle this custom radio</span>
            </label>
            <label class="custom-control custom-radio">
              <input id="radio2" name="radio" type="radio" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Or toggle this other custom radio</span>
            </label>
            <label class="custom-control custom-radio">
              <input id="radio3" name="radio" type="radio" class="custom-control-input" disabled="">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Disabled custom radio</span>
            </label>
          </div>
          <div class="form-group">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" checked="">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Check this custom checkbox</span>
            </label>
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" disabled="">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Disabled custom checkbox</span>
            </label>
          </div>
          <div class="form-group">
            <select class="custom-select">
              <option selected="">Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
          </select>
          </div>
          <div class="form-group">
            <label class="custom-file">
              <input type="file" id="file2" class="custom-file-input">
              <span class="custom-file-control"></span>
          </label>
          </div>
        </fieldset>
      </div>

    </div>
  </div>
</div>
