<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The 3 above meta tags *must* be first -->
<title>{{ page.title }}</title>
<style type="text/css">html{position:relative;min-height:100%}body{margin-bottom:40px;padding-bottom:40px}.footer{position:fixed;bottom:0;width:100%;height:40px;background-color:#000;border-top:1px solid #fff;padding-top:4px;z-index:2}.bs-section{margin-bottom:40px}.bs-example-modal .modal{position:relative;top:auto;right:auto;left:auto;bottom:auto;z-index:1;display:block}.bs-example-modal .modal.fade,.bs-example-modal .modal.fade .modal-dialog{-webkit-transition:none;-o-transition:none;transition:none;-webkit-transform:none;-ms-transform:none;-o-transform:none;transform:none;opacity:1}.modal-dialog{width:inherit;margin:0}.fa-clipboard{color:#fff!important;}</style>
<link rel="stylesheet" href="dist/css/m8tro.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/{{ site.fa_version }}/css/font-awesome.min.css" rel="stylesheet">
<link rel="shortcut icon" href="http://s.idleberg.com/m8tro-ico/favicon.png" />
<link rel="apple-touch-icon" sizes="57x57" href="http://s.idleberg.com/m8tro-ico/iphone.png" />
<link rel="apple-touch-icon" sizes="114x114" href="http://s.idleberg.com/m8tro-ico/iphone-retina.png" />
<link rel="apple-touch-icon" sizes="72x72" href="http://s.idleberg.com/m8tro-ico/ipad.png" />
<link rel="apple-touch-icon" sizes="144x144" href="http://s.idleberg.com/m8tro-ico/ipad-retina.png" />

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
