::selection {
    color: @body-bg;
    background: @text-color;
}

.text-primary, .text-primary a {
    &::selection {
        background: @brand-primary;
    }
}

.text-success, .text-success a {
    &::selection {
        background: @brand-success;
    }
}

.text-info, .text-info a{
    &::selection {
        background: @brand-info;
    }
}

.text-warning, .text-warning a {
    &::selection {
        background: @brand-warning;
    }
}

.text-danger, .text-danger a {
    &::selection {
        background: @brand-danger;
    }
}
.jumbotron ::selection {
    color: @text-color;
    background: @jumbotron-color;
}
